html {
    --header-color: rgb(0, 164, 216);
    --font-color: white;
    --section-color: rgb(233, 245, 244);
    --footer-color: rgb(60, 63, 61);
}

body {
    margin: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

.button {
    background-color: rgb(67, 178, 215);
    color: var(--font-color);
    border: none;
    border-radius: 16px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.column_blue {
    background-color: var(--header-color);
}

.column_blue__h {
    color: var(--font-color);
}

.column_grey {
    background-color: var(--section-color);
}

.column_center {
    align-items: center;
}

.row_evenly {
    justify-content: space-evenly;
}

.ul_number {
    list-style-type: decimal;
}

.ul_none {
    list-style-type: none;
}

.footer {
    background-color: var(--footer-color);
}

.footer__link {
    color: var(--font-color);
}

.section {
    margin: 20px
}

.p_bigger {
    font-size: 24px;
}

.img {
    height: 200px;
}
